<br />
<div class="row justify-content-md-center">
    <div class="col-md-4">
        {{#if message}}
            <div class="alert alert-primary" align="center">
                {{message}}
            </div>
        {{/if}}
	</div>
</div>
<br />
<h1 align="center">{{title}}</h1>
<p align="center">Welcome to {{title}}</p>

<div class="container">
	<div class="row">
	</div>
</div>
