
<form action="/add-nurse" method="post">
    <h1 align="center">Nurse's Information Form</h1> <br />

    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationServer01">First name</label>
        <input type="text" class="form-control is-valid" id="validationServer01" name="nFname" placeholder="First name" value="" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer01">Middle name</label>
        <input type="text" class="form-control is-valid" id="validationServer01" name="nMname" placeholder="Middle name">
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer02">Last name</label>
        <input type="text" class="form-control is-valid" id="validationServer02" name="nLname" placeholder="Last name">
      </div>
    </div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="birthDate">Date of Birth</label>
            <input type="date" id="birthDate" name="birthDate" class="form-control is-valid">
        </div>
        <div class="col-md-4 mb-3">
            <label for="appointmentDate">Date of Appointment</label>
            <input type="date" id="appointmentDate" name="appoinmentDate" class="form-control is-valid">
        </div>
    </div>

    <br />
    <b>Educational Qualification</b>5
    <br /> <br />

    <div class="form-row">
        <div class="col-md-2 mb-3">
          <label for="Qualification01">SSC / O Levels</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="degree1" placeholder="SSC or O levels"/>
        </div>
        <div class="col-md-4 mb-3">
          <label for="Qualification01">Board/Institute</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="board1" placeholder="Board/Institute"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Year</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="year1" placeholder="Year"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Division/CGPA</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="cgpa1" placeholder="Division/CGPA"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Position</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="position1" placeholder="Position"/>
        </div>


        <div class="col-md-2 mb-3">
          <label for="Qualification02">HSC / A Levels</label>
          <input type="text" class="form-control is-valid", id="Qualification02" name="degree2" placeholder="HSC or A levels"/>
        </div>
        <div class="col-md-4 mb-3">
          <label for="Qualification01">Board/Institute</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="board2" placeholder="Board/Institute"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Year</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="year2" placeholder="Year"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Division/CGPA</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="cgpa2" placeholder="Division/CGPA"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Position</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="position2" placeholder="Position"/>
        </div>


        <div class="col-md-2 mb-3">
          <label for="Qualification03">BSc (Nursing)</label>
          <input type="text" class="form-control is-valid", id="Qualification03" name="degree3" placeholder="BSc in Nursing"/>
        </div>
        <div class="col-md-4 mb-3">
          <label for="Qualification01">Board/Institute</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="board3" placeholder="Board/Institute"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Year</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="year3" placeholder="Year"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Division/CGPA</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="cgpa3" placeholder="Division/CGPA"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Position</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="position3" placeholder="Position"/>
        </div>


        <div class="col-md-2 mb-3">
          <label for="Qualification05">Others</label>
          <input type="text" class="form-control is-valid", id="Qualification05" name="degree4" placeholder="Others"/>
        </div>
        <div class="col-md-4 mb-3">
          <label for="Qualification01">Board/Institute</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="board4" placeholder="Board/Institute"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Year</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="year4" placeholder="Year"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Division/CGPA</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="cgpa4" placeholder="Division/CGPA"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Position</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="position4" placeholder="Position"/>
        </div>
    </div>

    <br /> <b>Experience</b> <br /> <br />

    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="doctorExperience01">Job Title</label>
            <input type="text" class="form-control is-valid "id="doctorExperience01" name="nJob1" placeholder="Job Title 01"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="birthDate">From</label>
            <input type="date" id="birthDate" name="nFrom1" class="form-control is-valid">
        </div>
        <div class="col-md-3 mb-3">
            <label for="birthDate">To</label>
            <input type="date" id="birthDate" name="nTo1" class="form-control is-valid">
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience04">Organization</label>
            <input type="text" class="form-control is-valid "id="doctorExperience04" name="nOrgan1" placeholder="Organization"/>
        </div>


        <div class="col-md-3 mb-3">
            <label for="doctorExperience01">Job Title</label>
            <input type="text" class="form-control is-valid "id="doctorExperience01" name="nJob2" placeholder="Job Title 02"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="birthDate">From</label>
            <input type="date" id="birthDate" name="nFrom2" class="form-control is-valid">
        </div>
        <div class="col-md-3 mb-3">
            <label for="birthDate">To</label>
            <input type="date" id="birthDate" name="nTo2" class="form-control is-valid">
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience04">Organization</label>
            <input type="text" class="form-control is-valid "id="doctorExperience04" name="nOrgan2" placeholder="Organization"/>
        </div>


        <div class="col-md-3 mb-3">
            <label for="doctorExperience01">Job Title</label>
            <input type="text" class="form-control is-valid "id="doctorExperience01" name="nJob3" placeholder="Job Title 03"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="birthDate">From</label>
            <input type="date" id="birthDate" name="nFrom3" class="form-control is-valid">
        </div>
        <div class="col-md-3 mb-3">
            <label for="birthDate">To</label>
            <input type="date" id="birthDate" name="nTo3" class="form-control is-valid">
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience04">Organization</label>
            <input type="text" class="form-control is-valid "id="doctorExperience04" name="nOrgan3" placeholder="Organization"/>
        </div>
    </div>



    <br />
    <button class="btn btn-primary" type="submit">Submit form</button>
</form>
