
<form>
    <h1 align="center">Nurse's Information Form</h1> <br />

    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationServer01">First name</label>
        <input type="text" class="form-control is-valid" id="validationServer01" name="nFname" placeholder="First name" value="" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer01">Middle name</label>
        <input type="text" class="form-control is-valid" id="validationServer01" name="nMname" placeholder="Middle name">
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer02">Last name</label>
        <input type="text" class="form-control is-valid" id="validationServer02" name="nLname" placeholder="Last name">
      </div>
    </div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="birthDate">Date of Birth</label>
            <input type="date" id="birthDate" class="form-control is-valid">
        </div>
        <div class="col-md-4 mb-3">
            <label for="appointmentDate">Date of Appointment</label>
            <input type="date" id="appointmentDate" class="form-control is-valid">
        </div>
    </div>

    <br />
    <b>Educational Qualification</b>5
    <br /> <br />

    <div class="form-row">
        <div class="col-md-2 mb-3">
          <label for="Qualification01">SSC / O Levels</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="nSSCorO" placeholder="SSC or O levels"/>
        </div>
        <div class="col-md-4 mb-3">
          <label for="Qualification01">Board/Institute</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="nBsscORa" placeholder="Board/Institute"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Year</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="nYsscORo" placeholder="Year"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Division/CGPA</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="nDsscORo" placeholder="Division/CGPA"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Position</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="nPsscORo" placeholder="Position"/>
        </div>


        <div class="col-md-2 mb-3">
          <label for="Qualification02">HSC / A Levels</label>
          <input type="text" class="form-control is-valid", id="Qualification02" name="nHSCorA" placeholder="HSC or A levels"/>
        </div>
        <div class="col-md-4 mb-3">
          <label for="Qualification01">Board/Institute</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="nBhscORa" placeholder="Board/Institute"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Year</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="nYhscORa" placeholder="Year"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Division/CGPA</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="nDhscORa" placeholder="Division/CGPA"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Position</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="nPhscORa" placeholder="Position"/>
        </div>


        <div class="col-md-2 mb-3">
          <label for="Qualification03">BSc (Nursing)</label>
          <input type="text" class="form-control is-valid", id="Qualification03" name="nBScN" placeholder="BSc in Nursing"/>
        </div>
        <div class="col-md-4 mb-3">
          <label for="Qualification01">Board/Institute</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="nBbsc" placeholder="Board/Institute"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Year</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="nYbsc" placeholder="Year"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Division/CGPA</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="nDbsc" placeholder="Division/CGPA"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Position</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="nPbsc" placeholder="Position"/>
        </div>


        <div class="col-md-2 mb-3">
          <label for="Qualification05">Others</label>
          <input type="text" class="form-control is-valid", id="Qualification05" name="nOthers" placeholder="Others"/>
        </div>
        <div class="col-md-4 mb-3">
          <label for="Qualification01">Board/Institute</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="nBothers" placeholder="Board/Institute"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Year</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="nYothers" placeholder="Year"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Division/CGPA</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="nDothers" placeholder="Division/CGPA"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Position</label>
          <input type="text" class="form-control is-valid", id="Qualification01" name="nPothers" placeholder="Position"/>
        </div>
    </div>

    <br /> <b>Experience</b> <br /> <br />

    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="doctorExperience01">Job Title</label>
            <input type="text" class="form-control is-valid "id="doctorExperience01" name="nJob1" placeholder="Job Title 01"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience02">From</label>
            <input type="text" class="form-control is-valid "id="doctorExperience02" name="nFrom1" placeholder="From"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience03">To</label>
            <input type="text" class="form-control is-valid "id="doctorExperience03" name="nTo1" placeholder="To"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience04">Organization</label>
            <input type="text" class="form-control is-valid "id="doctorExperience04" name="nOrgan1" placeholder="Organization"/>
        </div>


        <div class="col-md-3 mb-3">
            <label for="doctorExperience01">Job Title</label>
            <input type="text" class="form-control is-valid "id="doctorExperience01" name="nJob2" placeholder="Job Title 02"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience02">From</label>
            <input type="text" class="form-control is-valid "id="doctorExperience02" name="nFrom2" placeholder="From"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience03">To</label>
            <input type="text" class="form-control is-valid "id="doctorExperience03" name="nTo2" placeholder="To"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience04">Organization</label>
            <input type="text" class="form-control is-valid "id="doctorExperience04" name="nOrgan2" placeholder="Organization"/>
        </div>


        <div class="col-md-3 mb-3">
            <label for="doctorExperience01">Job Title</label>
            <input type="text" class="form-control is-valid "id="doctorExperience01" name="nJob3" placeholder="Job Title 03"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience02">From</label>
            <input type="text" class="form-control is-valid "id="doctorExperience02" name="nFrom3" placeholder="From"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience03">To</label>
            <input type="text" class="form-control is-valid "id="doctorExperience03" name="nTo3" placeholder="To"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience04">Organization</label>
            <input type="text" class="form-control is-valid "id="doctorExperience04" name="nOrgan3" placeholder="Organization"/>
        </div>
    </div>



    <br />
    <button class="btn btn-primary" type="submit">Submit form</button>
</form>
