
<form action="/add-ward" method="post">
    <h1 align="center">Ward's Information Form</h1> <br />

    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationServer01">Ward name</label>
        <input type="text" class="form-control is-valid" id="validationServer01" name="wName" placeholder="Ward Name" value="">
      </div>
    </div>

    <div class="form-row">
		<div class="col-md-4 mb-3">
		  <label for="validationServer01">Register Id</label>
		  <input type="text" class="form-control is-valid" id="validationServer01" name="wRegisterID" placeholder="Register ID">
		</div>
		<div class="col-md-4 mb-3">
		  <label for="validationServer02">Register Name</label>
		  <input type="text" class="form-control is-valid" id="validationServer02" name="wRname" placeholder="Register Name">
		</div>
    </div>

	<div class="form-row">
        <div class="col-md-4 mb-3">
		  <label for="validationServer01">Nurse Id</label>
		  <input type="text" class="form-control is-valid" id="validationServer01" name="wNurseID" placeholder="ID">
		</div>
		<div class="col-md-4 mb-3">
		  <label for="validationServer01">Nurse Supervisor Id</label>
		  <input type="text" class="form-control is-valid" id="validationServer01" name="wNurseSupervisorID" placeholder="ID">
		</div>
		<div class="col-md-4 mb-3">
		  <label for="validationServer02">Name</label>
		  <input type="text" class="form-control is-valid" id="validationServer02" name="wNurseSupeName" placeholder="name">
		</div>
    </div>


    <br /> <b>Bed's details</b> <br /> <br />

    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="doctorExperience01">Bed No</label>
            <input type="text" class="form-control is-valid "id="doctorExperience01" name="wBno1" placeholder="Bed No 01"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience02">Bed Type</label>
            <input type="text" class="form-control is-valid "id="doctorExperience02" name="wBtype1" placeholder="Bed Type 01"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience03">Rent</label>
            <input type="text" class="form-control is-valid "id="doctorExperience03" name="wBrent1" placeholder="Rent 01"/>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationServer03">Status</label>
          <select class="custom-select is-valid" name="wStatus1" required>
              <option value="">Empty/Occupied</option>
              <option value="empty">Empty</option>
              <option value="Occupied">Occupied</option>
          </select>
        </div>


		<div class="col-md-3 mb-3">
            <label for="doctorExperience01">Bed No</label>
            <input type="text" class="form-control is-valid "id="doctorExperience01" name="wBno2" placeholder="Bed No 02"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience02">Bed Type</label>
            <input type="text" class="form-control is-valid "id="doctorExperience02" name="wBtype2" placeholder="Bed Type 02"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience03">Rent</label>
            <input type="text" class="form-control is-valid "id="doctorExperience03" name="wBrent2" placeholder="Rent 02"/>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationServer03">Status</label>
          <select class="custom-select is-valid" name="wStatus2" required>
              <option value="">Empty/Occupied</option>
              <option value="empty">Empty</option>
              <option value="Occupied">Occupied</option>
          </select>
        </div>


		<div class="col-md-3 mb-3">
            <label for="doctorExperience01">Bed No</label>
            <input type="text" class="form-control is-valid "id="doctorExperience01" name="wBno3" placeholder="Bed No 03"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience02">Bed Type</label>
            <input type="text" class="form-control is-valid "id="doctorExperience02" name="wBtype3" placeholder="Bed Type 03"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience03">Rent</label>
            <input type="text" class="form-control is-valid "id="doctorExperience03" name="wBrent3" placeholder="Rent 03"/>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationServer03">Status</label>
          <select class="custom-select is-valid" name="wStatus3" required>
              <option value="">Empty/Occupied</option>
              <option value="empty">Empty</option>
              <option value="Occupied">Occupied</option>
          </select>
        </div>
    </div>



    <br />
    <button class="btn btn-primary" type="submit">Submit form</button>
</form>
