
<form action="/add-medicine" method="post">
    <h1 align="center">Medicine Entry Form</h1> <br />

    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationServer01">Supplier name</label>
        <input type="text" class="form-control is-valid" id="validationServer01" name="mSupName" placeholder="Supplier Name" value="">
      </div>
	  <div class="col-md-4 mb-3">
        <label for="validationServer01">Supplier Id</label>
        <input type="text" class="form-control is-valid" id="validationServer01" name="mSupId" placeholder="Supplier Id" value="">
      </div>
	  <div class="col-md-4 mb-3">
		  <label for="birthDate">Date of Supply</label>
		  <input type="date" id="birthDate" class="form-control is-valid" name="mSupplyDate" required>
	  </div>
    </div>


    <br /> <b>Medicine Info</b> <br /> <br />

    <div class="form-row">
        <div class="col-md-2 mb-3">
            <label for="doctorExperience01">Name</label>
            <input type="text" class="form-control is-valid "id="doctorExperience01" name="mName1" placeholder="Name 01"/>
        </div>
        <div class="col-md-2 mb-3">
            <label for="doctorExperience02">Type</label>
            <input type="text" class="form-control is-valid "id="doctorExperience02" name="mType1" placeholder="Type 01"/>
        </div>
        <div class="col-md-2 mb-3">
            <label for="doctorExperience03">Unit Price</label>
            <input type="text" class="form-control is-valid "id="doctorExperience03" name="mUnitPrice1" placeholder="Price 01" required/>
        </div>
        <div class="col-md-2 mb-3">
            <label for="doctorExperience04">Quantity</label>
            <input type="text" class="form-control is-valid "id="doctorExperience04" name="mQuantity1" placeholder="Quantity 01" required/>
        </div>
		<div class="col-md-2 mb-3">
  		  	<label for="birthDate">Date of Manufacture</label>
  		  	<input type="date" id="birthDate" class="form-control is-valid" name="mManufactureDate1">
  	  	</div>
		<div class="col-md-2 mb-3">
  		  	<label for="birthDate">Expiry Date</label>
  		  	<input type="date" id="birthDate" class="form-control is-valid" name="mExpiryDate1">
  	  	</div>



		<div class="col-md-2 mb-3">
            <label for="doctorExperience01">Name</label>
            <input type="text" class="form-control is-valid "id="doctorExperience01" name="mName2" placeholder="Name 02"/>
        </div>
        <div class="col-md-2 mb-3">
            <label for="doctorExperience02">Type</label>
            <input type="text" class="form-control is-valid "id="doctorExperience02" name="mType2" placeholder="Type 02"/>
        </div>
        <div class="col-md-2 mb-3">
            <label for="doctorExperience03">Unit Price</label>
            <input type="text" class="form-control is-valid "id="doctorExperience03" name="mUnitPrice2" placeholder="Price 02" required/>
        </div>
        <div class="col-md-2 mb-3">
            <label for="doctorExperience04">Quantity</label>
            <input type="text" class="form-control is-valid "id="doctorExperience04" name="mQuantity2" placeholder="Quantity 02" required/>
        </div>
		<div class="col-md-2 mb-3">
  		  	<label for="birthDate">Date of Manufacture</label>
  		  	<input type="date" id="birthDate" class="form-control is-valid" name="mManufactureDate2">
  	  	</div>
		<div class="col-md-2 mb-3">
  		  	<label for="birthDate">Expiry Date</label>
  		  	<input type="date" id="birthDate" class="form-control is-valid" name="mExpiryDate2">
  	  	</div>



		<div class="col-md-2 mb-3">
            <label for="doctorExperience01">Name</label>
            <input type="text" class="form-control is-valid "id="doctorExperience01" name="mName3" placeholder="Name 03"/>
        </div>
        <div class="col-md-2 mb-3">
            <label for="doctorExperience02">Type</label>
            <input type="text" class="form-control is-valid "id="doctorExperience02" name="mType3" placeholder="Type 03"/>
        </div>
        <div class="col-md-2 mb-3">
            <label for="doctorExperience03">Unit Price</label>
            <input type="text" class="form-control is-valid "id="doctorExperience03" name="mUnitPrice3" placeholder="Price 03" required/>
        </div>
        <div class="col-md-2 mb-3">
            <label for="doctorExperience04">Quantity</label>
            <input type="text" class="form-control is-valid "id="doctorExperience04" name="mQuantity3" placeholder="Quantity 03" required/>
        </div>
		<div class="col-md-2 mb-3">
  		  	<label for="birthDate">Date of Manufacture</label>
  		  	<input type="date" id="birthDate" class="form-control is-valid" name="mManufactureDate3">
  	  	</div>
		<div class="col-md-2 mb-3">
  		  	<label for="birthDate">Expiry Date</label>
  		  	<input type="date" id="birthDate" class="form-control is-valid" name="mExpiryDate3">
  	  	</div>


		<div class="col-md-2 mb-3">
            <label for="doctorExperience01">Name</label>
            <input type="text" class="form-control is-valid "id="doctorExperience01" name="mName4" placeholder="Name 04"/>
        </div>
        <div class="col-md-2 mb-3">
            <label for="doctorExperience02">Type</label>
            <input type="text" class="form-control is-valid "id="doctorExperience02" name="mType4" placeholder="Type 04"/>
        </div>
        <div class="col-md-2 mb-3">
            <label for="doctorExperience03">Unit Price</label>
            <input type="text" class="form-control is-valid "id="doctorExperience03" name="mUnitPrice4" placeholder="Price 04" required/>
        </div>
        <div class="col-md-2 mb-3">
            <label for="doctorExperience04">Quantity</label>
            <input type="text" class="form-control is-valid "id="doctorExperience04" name="mQuantity4" placeholder="Quantity 04" required/>
        </div>
		<div class="col-md-2 mb-3">
  		  	<label for="birthDate">Date of Manufacture</label>
  		  	<input type="date" id="birthDate" class="form-control is-valid" name="mManufactureDate4">
  	  	</div>
		<div class="col-md-2 mb-3">
  		  	<label for="birthDate">Expiry Date</label>
  		  	<input type="date" id="birthDate" class="form-control is-valid" name="mExpiryDate4">
  	  	</div>
    </div>



    <br />
    <button class="btn btn-primary" type="submit">Submit form</button>
</form>
