
<form action="/add-patient" method="post">
    <h1 align="center">Patient's Admission Form</h1> <br />

    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationServer01">First name</label>
        <input type="text" class="form-control is-valid" id="validationServer01" name="pFname" placeholder="First name" value="" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer01">Middle name</label>
        <input type="text" class="form-control is-valid" id="validationServer01" name="pMname" placeholder="Middle name">
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer02">Last name</label>
        <input type="text" class="form-control is-valid" id="validationServer02" name="pLname" placeholder="Last name">
      </div>
    </div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="birthDate">Date of Birth</label>
            <input type="date" id="birthDate" class="form-control is-valid" name="pbirtDate">
        </div>
        <div class="col-md-4 mb-3">
            <label for="DateOfAdmission">Date of Admission</label>
            <input type="date" id="patient-admissionDate" class="form-control is-valid" name="pAdmissionDate" required>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationServer11">Mobile No (1)</label>
          <input type="text" class="form-control is-valid" id="validationServer11" name="pMobile1" placeholder="+8801XXXXXXXXX" >
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer01">Mobile No (2)</label>
          <input type="text" class="form-control is-valid" id="validationServer12" name="pMobile2" placeholder="+8801XXXXXXXXX">
        </div>
    </div>

    <br />
    <b>Present Address:</b> <br /> <br />
    <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationServer04">Street Name</label>
          <input type="text" class="form-control is-valid" id="validationServer04" name="pPresentStreetName" placeholder="Street Name" >
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer04">Street No</label>
          <input type="text" class="form-control is-valid" id="validationServer04" name="pPresentStreetNo" placeholder="Street Number">
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer05">Area</label>
          <input type="text" class="form-control is-valid" id="validationServer05" name="pPresentArea" placeholder="Area" >
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer05">Thana</label>
          <input type="text" class="form-control is-valid" id="validationServer05" name="pPresentThana" placeholder="Thana" >
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer05">District</label>
          <input type="text" class="form-control is-valid" id="validationServer05" name="pPresentDistrict" placeholder="District" >
        </div>
    </div>

    <br />
    <b>Permanent Address:</b> <br /> <br />
    <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationServer04">Street Name</label>
          <input type="text" class="form-control is-valid" id="validationServer04" name="pPerStreetName" placeholder="Street Name" >
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer04">Street No</label>
          <input type="text" class="form-control is-valid" id="validationServer04" name="pPerStreeNo" placeholder="Street Number">
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer05">Area</label>
          <input type="text" class="form-control is-valid" id="validationServer05" name="pPerArea" placeholder="Area" >
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer05">Thana</label>
          <input type="text" class="form-control is-valid" id="validationServer05" name="pPerThana" placeholder="Thana" >
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer05">District</label>
          <input type="text" class="form-control is-valid" id="validationServer05" name="pPerDistrict" placeholder="District" >
        </div>
    </div>

    <br />

    <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationServer03">Profession</label>
          <select class="custom-select is-valid" name="pProfession" >
              <option value="">Select your Profession</option>
              <option value="Goverment Job">Goverment Job</option>
              <option value="Private Job">Private Job</option>
              <option value="Business">Business</option>
              <option value="Farmer">Farmer</option>
              <option value="Retired">Retired</option>
              <option value="Others">Others</option>
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label for="validationServer04">Amount Deposited</label>
          <input type="text" class="form-control is-valid" id="validationServer04" name="pDepositedAmount" placeholder="TK" required>
        </div>

        <div class="col-md-4 mb-3">
          <label for="validationServer03">Choice</label>
          <select class="custom-select is-valid" name="pChoice" required>
              <option value="">Select your Choice</option>
              <option value="1">Ward</option>
              <option value="2">Cabin</option>
          </select>
        </div>
    </div>

    <br />

    <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationServer04">Name</label>
          <input type="text" class="form-control is-valid" id="validationServer04" name="pAdvisiorName" placeholder="Name" >
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer04">Relation with the Patient</label>
          <input type="text" class="form-control is-valid" id="validationServer04" name="pAdvisiorRelation" placeholder="Relation with the patient" >
        </div>
    </div>


    <button class="btn btn-primary" type="submit">Submit form</button>
</form>
