
<form>
    <h1 align="center">Doctor's Information Form</h1> <br />

    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationServer01">First name</label>
        <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" name="dFirstName" value="" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer01">Middle name</label>
        <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Middle name" name="dMiddleName">
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer02">Last name</label>
        <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" name="dLastName">
      </div>
    </div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="birthDate">Date of Birth</label>
            <input type="date" id="birthDate" class="form-control is-valid" name="dbirthDate">
        </div>
        <div class="col-md-4 mb-3">
            <label for="appointmentDate">Date of Appointment</label>
            <input type="date" id="appointmentDate" class="form-control is-valid "name="dAdmissionDate">
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationServer11">Mobile No (1)</label>
          <input type="text" class="form-control is-valid" id="validationServer11" placeholder="+8801XXXXXXXXX" name="dMobile1">
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer01">Mobile No (2)</label>
          <input type="text" class="form-control is-valid" id="validationServer12" placeholder="+8801XXXXXXXXX" name="dMobile2">
        </div>
    </div>

    <br />
    <b>Present Address</b> <br /> <br />
    <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationServer04">Street Name</label>
          <input type="text" class="form-control is-valid" id="validationServer04" placeholder="Street Name" name="dStreetName">
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer04">Street Number</label>
          <input type="text" class="form-control is-valid" id="validationServer04" placeholder="Street Number" name="dStreetNum">
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer05">Area</label>
          <input type="text" class="form-control is-valid" id="validationServer05" placeholder="Area" name="dArea">
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer05">Thana</label>
          <input type="text" class="form-control is-valid" id="validationServer05" placeholder="Thana" name="dThana">
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer05">District</label>
          <input type="text" class="form-control is-valid" id="validationServer05" placeholder="District" name="dDistrict">
        </div>
    </div>

    <br />
    <b>Educational Qualification</b>
    <br /> <br />

    <div class="form-row">
        <div class="col-md-2 mb-3">
          <label for="Qualification01">SSC / O Levels</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="SSC or O levels"/>
        </div>
        <div class="col-md-4 mb-3">
          <label for="Qualification01">Board/Institute</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Board/Institute"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Year</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Year"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Division/CGPA</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Division/CGPA"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Position</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Position"/>
        </div>


        <div class="col-md-2 mb-3">
          <label for="Qualification02">HSC / A Levels</label>
          <input type="text" class="form-control is-valid", id="Qualification02" placeholder="HSC or A levels"/>
        </div>
        <div class="col-md-4 mb-3">
          <label for="Qualification01">Board/Institute</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Board/Institute"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Year</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Year"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Division/CGPA</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Division/CGPA"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Position</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Position"/>
        </div>


        <div class="col-md-2 mb-3">
          <label for="Qualification03">MBBS</label>
          <input type="text" class="form-control is-valid", id="Qualification03" placeholder="MBBS"/>
        </div>
        <div class="col-md-4 mb-3">
          <label for="Qualification01">Board/Institute</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Board/Institute"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Year</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Year"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Division/CGPA</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Division/CGPA"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Position</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Position"/>
        </div>


        <div class="col-md-2 mb-3">
          <label for="Qualification04">FCPS</label>
          <input type="text" class="form-control is-valid", id="Qualification04" placeholder="FCPS"/>
        </div>
        <div class="col-md-4 mb-3">
          <label for="Qualification01">Board/Institute</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Board/Institute"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Year</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Year"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Division/CGPA</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Division/CGPA"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Position</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Position"/>
        </div>


        <div class="col-md-2 mb-3">
          <label for="Qualification05">Others</label>
          <input type="text" class="form-control is-valid", id="Qualification05" placeholder="Others"/>
        </div>
        <div class="col-md-4 mb-3">
          <label for="Qualification01">Board/Institute</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Board/Institute"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Year</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Year"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Division/CGPA</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Division/CGPA"/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="Qualification01">Position</label>
          <input type="text" class="form-control is-valid", id="Qualification01" placeholder="Position"/>
        </div>
    </div>

    <br /> <b>Experience</b> <br /> <br />

    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="doctorExperience01">Job Title</label>
            <input type="text" class="form-control is-valid "id="doctorExperience01" placeholder="Job Title 01"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience02">From</label>
            <input type="text" class="form-control is-valid "id="doctorExperience02" placeholder="From"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience03">To</label>
            <input type="text" class="form-control is-valid "id="doctorExperience03" placeholder="To"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience04">Organization</label>
            <input type="text" class="form-control is-valid "id="doctorExperience04" placeholder="Organization"/>
        </div>


        <div class="col-md-3 mb-3">
            <label for="doctorExperience01">Job Title</label>
            <input type="text" class="form-control is-valid "id="doctorExperience01" placeholder="Job Title 02"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience02">From</label>
            <input type="text" class="form-control is-valid "id="doctorExperience02" placeholder="From"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience03">To</label>
            <input type="text" class="form-control is-valid "id="doctorExperience03" placeholder="To"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience04">Organization</label>
            <input type="text" class="form-control is-valid "id="doctorExperience04" placeholder="Organization"/>
        </div>


        <div class="col-md-3 mb-3">
            <label for="doctorExperience01">Job Title</label>
            <input type="text" class="form-control is-valid "id="doctorExperience01" placeholder="Job Title 03"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience02">From</label>
            <input type="text" class="form-control is-valid "id="doctorExperience02" placeholder="From"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience03">To</label>
            <input type="text" class="form-control is-valid "id="doctorExperience03" placeholder="To"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctorExperience04">Organization</label>
            <input type="text" class="form-control is-valid "id="doctorExperience04" placeholder="Organization"/>
        </div>
    </div>



    <br /> <b>Membership</b> <br /> <br />
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label name="MEM1" class="form-check-label" for="inlineCheckbox1">BMA</label>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">Brithish Medical Society</label>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">American Medical Society</label>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">Others</label>
            </div>
        </div>
    </div>


    <br />
    <button class="btn btn-primary" type="submit">Submit form</button>
</form>
